ul {
  margin: 0;
  padding: 0;
}

li {
  width: 200px;
  position: relative;
  background: #EEEEEE;
  list-style-type: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

li:hover {
  color: white;
}

li:hover .id {
  padding-right: 200px;
  transition: 0.3s ease-out;
}

li:hover .name {
  color: white;
  transition: 0.3s ease-out;
}

li .id {
  position: relative;
  left: -5px;
  color: white;
  background: #1976D2;
  padding: 7px;
  width: 30px;
}

.disabled:hover .id {
  padding-right: 7px;
  transition: 0.3s ease-out;
}

li .delete {
  position: absolute;
  right: 0;
  background: darkred;
  color: white;
  padding: 15px;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}

li .delete:hover {
  padding-left: 100px;
  padding-right: 100px;
  transition: 0.3s ease-out;
}

li .name {
  position: absolute;
  bottom: 0;
  right: 40px;
  padding: 5px;
  z-index: 0;
}

.details {
  position: absolute;
}

button {
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #1976d2;
  outline: none;
}

button:hover {
  opacity: 80%;
}

.flex {
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  margin-bottom: 10px;
}

#mdiv {
  width: 25px;
  height: auto;
  background-color: red;
}

.mdiv {
  height: 15px;
  width: 2px;
  margin: auto;
  background-color: white;
  transform: rotate(45deg);
  Z-index: 1;
}

.md {
  height: 15px;
  width: 2px;
  background-color: white;
  transform: rotate(90deg);
  Z-index: 2;
}
