ul {
  margin: 0;
  padding: 0;
}

li {
  width: 150px;
  position: relative;
  background: #EEEEEE;
  list-style-type: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

li:hover {
  opacity: 80%;
}

li .id {
  position: relative;
  left: -5px;
  color: white;
  background: #1976D2;
  padding: 5px;
}

li .name {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.details {
  position: absolute;
}
